<div class="row">
  <div class="large-12 columns">
    <%= form_for @problem.new, url: {action: "create"} do |f| %>
  <label>Name</label>
    <%= f.text_field :name, placeholder: "Name your problem!" %>
  </div>
  <div class="large-8 columns">
    <%= f.text_field :url, placeholder: "Link to any supporting material" %>
  </div>
  <div class="large-12 columns">
    <%= f.text_area :description %>
  </div>
  <div class="large-12 columns">
    <%= f.submit "Create", class: "button" %>
  </div>
  <% end %>
</div>
