<%= div_for problem do %>
	<h2><%= problem.name %> (<%= problem.cached_votes_score %>)</h2>
	<a =href"<%= problem.url %>"><%= problem.url %></a>
    <p><%= problem.description %><p>
		By <%= problem.user.name %></br>
	<a class="button"<%= link_to 'Up', {:controller => 'problems', :action => 'up_vote'}, {:method => :post } %></a>
	<a class="button"<%= link_to 'Down', {:controller => 'problems', :action => 'down_vote'}, {:method => :post } %></a>
	<% end %>
